
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Hacker's Git</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/commits.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="http://twitter.com/mockingmarkov">Twitter</a></li>
            <li class="active"><a href="#">Git Tools</a></li>
        </ul>
        <h3 class="text-muted">Markov Madness</h3>
    </div>

    <div class="jumbotron">
        <h1>Hacker's Git</h1>
        <p class="lead">Too busy to write commit messages? Don't have time to write the perfect ticket on Github? We've got you covered.</p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Commit Generator</h4>
            <p>Don't waste time writing commits messages when you've already written plenty of them.</p>
            <p>Just give us your github username and we'll generate new commits based off your past activity.</p>
            <input ng-model="username" type="text">
            <button class="btn">Generate Commits</button>
        </div>

        <div class="col-lg-6">
            <h4>Issue Marker</h4>
            <p>Ever know something is wrong with your or another person's project but you haven't quite been able to put your finger on it?</p>
            <p>Use our Github Issue generator to write a generated ticket on a project of your choice!</p>
            <input ng-model="username" type="text">
        </div>
    </div>

    <div class="footer">
        <p>Hackathon project by Koleman Nix and Brent Baumgartner. <a href="http://github.com/kolemannix/markov-madness">Github</a>.</p>
    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
